[versions]

# Micronaut

micronaut = "3.8.6"
micronaut-docs = "2.0.0"
micronaut-gradle-plugin = "3.7.4"

# Frameworks

managed-vertx = "4.3.4"
managed-jooq = "3.15.12"
managed-jdbi = "3.30.0"
managed-hibernate = "5.6.15.Final"
managed-hibernate-reactive = "1.1.9.Final"
managed-jasync = "2.1.23"

# JDBC Drivers

managed-ojdbc = "21.7.0.0"
managed-postgres-driver = "42.5.4"
managed-mariadb-driver = "2.7.6"
managed-mssql-driver = "9.4.1.jre8"
managed-mysql-driver = "8.0.32"

# JDBC Pools
# Required to keep catalog compatibility with 3.4.x.  Can be removed for 4.0.0
managed-commons-dbcp-compat = "2.9.0"

managed-hikari = "4.0.3"
managed-commons-dbcp = "2.9.0"
managed-tomcat-jdbc = "10.0.23"

# JPA

jakarta-persistence-api = "2.2.3"
jakarta-transaction-api = "1.3.3"

managed-h2 = "1.4.200"

# Other

jaxb-api = "2.3.1"
sfm-reflect = "8.2.3"
spring = "5.3.23"
caffeine = "2.9.3"

# Testing

groovy = "3.0.10"
testcontainers = "1.17.6"
sonar-gradle-plugin = "3.4.0.2513"

[libraries]

# Vertx

managed-vertx-sql-client = { module = "io.vertx:vertx-sql-client", version.ref = "managed-vertx" }
managed-vertx-codegen = { module = "io.vertx:vertx-codegen", version.ref = "managed-vertx" }
managed-vertx-mysql-client = { module = "io.vertx:vertx-mysql-client", version.ref = "managed-vertx" }
managed-vertx-pg-client = { module = "io.vertx:vertx-pg-client", version.ref = "managed-vertx" }
managed-vertx-mssql-client = { module = "io.vertx:vertx-mssql-client", version.ref = "managed-vertx" }
managed-vertx-oracle-client = { module = "io.vertx:vertx-oracle-client", version.ref = "managed-vertx" }
managed-vertx-rx-java2 = { module = "io.vertx:vertx-rx-java2", version.ref = "managed-vertx" }

managed-jooq = { module = "org.jooq:jooq", version.ref = "managed-jooq" }

# Hibernate

managed-hibernate-core = { module = "org.hibernate:hibernate-core", version.ref = "managed-hibernate" }
managed-hibernate-jcache = { module = "org.hibernate:hibernate-jcache", version.ref = "managed-hibernate" }
managed-hibernate-micrometer = { module = "org.hibernate:hibernate-micrometer", version.ref = "managed-hibernate" }
managed-hibernate-reactive-core = { module = "org.hibernate.reactive:hibernate-reactive-core", version.ref = "managed-hibernate-reactive" }

# Jasync

managed-jasync-mysql = { module = "com.github.jasync-sql:jasync-mysql", version.ref = "managed-jasync" }
managed-jasync-postgresql = { module = "com.github.jasync-sql:jasync-postgresql", version.ref = "managed-jasync" }

# JDBI

boms-jdbi3 = { module = "org.jdbi:jdbi3-bom", version.ref = "managed-jdbi" }
jdbi3-sqlobject = { module = "org.jdbi:jdbi3-sqlobject", version.ref = "managed-jdbi" }
jdbi3-core = { module = "org.jdbi:jdbi3-core", version.ref = "managed-jdbi" }

# JDBC pools
# Duplicated to keep catalog compatibility with 3.4.x.  Can be removed for 4.0.0
managed-commons-dbcp = { module = "org.apache.commons:commons-dbcp2", version.ref = "managed-commons-dbcp-compat" }

managed-hikaricp = { module = "com.zaxxer:HikariCP", version.ref = "managed-hikari" }
managed-commons-dbcp2 = { module = "org.apache.commons:commons-dbcp2", version.ref = "managed-commons-dbcp" }
managed-tomcat-jdbc = { module = "org.apache.tomcat:tomcat-jdbc", version.ref = "managed-tomcat-jdbc" }
managed-ucp = { module = "com.oracle.database.jdbc:ucp", version.ref = "managed-ojdbc" }

# UCP

dms = { module = "com.oracle.database.observability:dms", version.ref = "managed-ojdbc" }
ojdbc8dms = { module = "com.oracle.database.observability:ojdbc8dms", version.ref = "managed-ojdbc" }

# JDBC drivers

managed-postgresql = { module = "org.postgresql:postgresql", version.ref = "managed-postgres-driver" }
managed-mariadb-java-client = { module = "org.mariadb.jdbc:mariadb-java-client", version.ref = "managed-mariadb-driver" }
managed-mssql-jdbc = { module = "com.microsoft.sqlserver:mssql-jdbc", version.ref = "managed-mssql-driver" }
managed-mysql-connector-java = { module = "mysql:mysql-connector-java", version.ref = "managed-mysql-driver" }
managed-ojdbc8 = { module = "com.oracle.database.jdbc:ojdbc8", version.ref = "managed-ojdbc" }

managed-h2 = { module = "com.h2database:h2", version.ref = "managed-h2" }

# Spring

spring-jdbc = { module = "org.springframework:spring-jdbc", version.ref = "spring" }
spring-orm = { module = "org.springframework:spring-orm", version.ref = "spring" }
spring-tx = { module = "org.springframework:spring-tx" }

# JPA

jakarta-persistence-api = { module = "jakarta.persistence:jakarta.persistence-api", version.ref = "jakarta-persistence-api" }
jakarta-transaction-api = { module = "jakarta.transaction:jakarta.transaction-api", version.ref = "jakarta-transaction-api" }

# Others

jaxb-api = { module = "javax.xml.bind:jaxb-api", version.ref = "jaxb-api" }
sfm-reflect = { module = "org.simpleflatmapper:sfm-reflect", version.ref = "sfm-reflect" }
caffeine = { module = "com.github.ben-manes.caffeine:caffeine", version.ref = "caffeine" }

# Testcontainers

testcontainers-bom = { module = "org.testcontainers:testcontainers-bom", version.ref = "testcontainers" }
testcontainers-jdbc = { module = "org.testcontainers:jdbc" }
testcontainers-mariadb = { module = "org.testcontainers:mariadb" }
testcontainers-mssqlserver = { module = "org.testcontainers:mssqlserver" }
testcontainers-mysql = { module = "org.testcontainers:mysql" }
testcontainers-oracle-xe = { module = "org.testcontainers:oracle-xe" }
testcontainers-postgresql = { module = "org.testcontainers:postgresql" }
testcontainers-spock = { module = "org.testcontainers:spock" }

#PLUGINS

gradle-micronaut = { module = "io.micronaut.gradle:micronaut-gradle-plugin", version.ref = "micronaut-gradle-plugin" }
gradle-sonar = { module = "org.sonarsource.scanner.gradle:sonarqube-gradle-plugin", version.ref = "sonar-gradle-plugin" }
